@media (max-width: 767px) {

    .logo-home {
        display: none;
    }
    .footer-links {
    flex-direction: column;
}
    .footer-header {
        text-align: center;
    }
    /*#footer-ul-1 , #footer-ul-2, #footer-ul-3, #footer-ul-4, #footer-ul-5 {*/
        /*visibility: hidden;*/
    /*}*/

}






@media (max-width: 480px) {}
.section#featured {
   /*padding: 0;*/

}